# Configuration of specific parameter of the device. Instead of defining the environment variables here,
# it is recommended to declare them when initializing the ioc.

#epicsEnvSet("DEVICE_IP", "10.0.18.108") # Change to the IP of the device
#epicsEnvSet("DEVICE_INST", "0") # Indicates the device instance