[Unit]
Description=RSFSV IOC %p%I
After=rc-local.service
Wants=rc-local.service
After=network-online.target
Wants=network-online.target

[Service]
# Source environment
EnvironmentFile=/etc/sysconfig/rsfsv-epics-ioc
EnvironmentFile=/etc/sysconfig/rsfsv-epics-ioc-mapping
# Execute pre with root
PermissionsStartOnly=true
Environment=RSFSV_INSTANCE=%i
ExecStartPre=/bin/mkdir -p /var/log/procServ/%p%i
ExecStartPre=/bin/mkdir -p /var/run/procServ/%p%i
WorkingDirectory=/opt/epics/startup/ioc/rsfsv-epics-ioc/iocBoot/iocrsfsv
# Run procServ with IOC
ExecStart="/usr/local/bin/runRSFSV.sh"

[Install]
WantedBy=multi-user.target
